* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 17, 34);
  color: white;
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a,
p {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(25, 17, 34);
  color: white;
}

a,
.header {
  border-bottom: 1px solid black;
}

.header {
  background-color: rgb(177, 169, 169);
}
