* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #f1f1f1; */
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1px solid black;
}

.sidebar a,
p {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(25, 17, 34);
  color: white;
}

a,
header {
  border-bottom: 1px solid black;
}

h1 {
  margin: 17px;
}

main {
  background-color: red;
}
