* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
.sidebar {
  outline: 1px solid #c700ff;
}

a {
  text-decoration: none;
  /* color: white; */
}
.projects-list {
  /* background-color: #e3ff7f; */
}

main {
  background-color: #b8d6d6;
}

button {
  font-size: 1em;
  border: none;
  cursor: pointer;
  background: white;
  padding:0.5em;
}
